/*
$main-font: 'Poppins', sans-serif;
$second-font: 'Ubuntu', sans-serif;
*/

.width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    font-family: $second-font;
    padding: 30px 0;
    transition: all 0.3s ease;
    .menu li {
        list-style: none;
        display: inline-block;
        a {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            transition: color 0.3s ease;
        }
    }
    .logo a {
        font-size: 35px;
        font-weight: 600;
        color: #fff;
        span {
            color: gold;
        }
    }
    .width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-nav {
        background: url("/images/menu2.png") no-repeat center;
        cursor: pointer;
        height: 30px;
        width: 30px;
        display: none;
    }
}
.navbar .menu li a:hover {
    color: $primary-color;
    
}
.navbar.sticky {
    padding: 15px 0;
    background: $primary-color;
    .logo a span {
        color: #fff;
        transition: all 0.3s ease;
    }
    a {
        color: $special-color;
    }
}
.navbar.sticky .menu li a {
    color: black;
}
.navbar.sticky .menu.active li a {
    color:white;
}
.navbar.sticky .menu li a:hover {
    color: white;
}
