$primary-font: 'Poppins', sans-serif;
$second-font: 'Ubuntu', sans-serif;
$primary-color: #FFD700;
$primary-light: lighten($primary-color, 45);
$primary-dark: darken($primary-color, 15);
$dark: #111;
$bright: #fff;
$special-color: #0d1321;